.roadmap {
    position: relative;
}
.roadmap-grid {
    position: relative;
    top: 700px;
    left: 14%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    grid-gap: 100px;
    transition: 2s all;
    z-index: 10;
    /* margin-right: 100px;
    margin: 100px; */
}
.roadmap-item {
    position: relative;
    background-color: rgba(1, 1, 1, 0.53);
    width: 300px;
    height: 80px;

    border-radius: 15px;
    transition: 0.2s all;
    z-index: 10;
    color: #00ff99;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}

.scrolled-road {
    padding-bottom: 200px;
    /* padding-right: 55px;
    padding-left: 55px; */
    /* border-radius: 55%; */
    transition: all 2s;
}
.done {
    outline: #00ff99 1px solid;
}
