.header {
    /* width: 100%; */
    position: relative;
    height: 120px;
    transition: 2s all;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.scrolled {
    background-color: #00ff99;
    transition: 2s all;
    transform: scale(1);
}

.logo {
    position: absolute;
    right: 30px;
    top: 40px;
    width: 300px;
    transform: scale(3.5);
}

.avatar {
    position: absolute;
    right: 270px;
    top: 2px;
    width: 150px;
    z-index: -1;
    transform: scale(3.5);
}
.reset-scale {
    transform: scale(1);
}
.big-logo {
    left: 42.5%;
    top: 350px;
}

.big-avatar {
    z-index: 0;
    animation-name: move-avatar;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    top: 600px;
}

.type-writer {
    opacity: 1;
    position: absolute;
    top: 25px;
    right: 10%;
    font-size: 50px;
    font-family: "Chewy", cursive;
    font-weight: 600;
    font-style: italic;
    color: #ff002a;
    transition: all 2s;

    /* color: aliceblue; */
}
.type-writer-scrolled {
    opacity: 0;
    transition: all 2s;
}

@keyframes move-avatar {
    0% {
        left: 15.5%;
    }
    70% {
        left: 80.5%;
    }
    100% {
        left: 15.5%;
    }
}

/* 
    #001642 DARK BLUE
    #ff002a GLOW RED
    #00ff99 GLOW GREEN
*/
