.grid-tokenomics {
    position: relative;
    top: 500px;
    left: 3.5%;
    /* top: 500px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
    grid-gap: 10px;
    transition: 2s all;
    z-index: 10;
    margin-right: 100px;
}
.bg {
    position: relative;
    z-index: -1;
    width: 350px;
    margin-right: 30px;
    top: 200px;
}
